<section class="section-hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="text-hero">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button data-modal-open type="button" class="btn-order btn">
        Order Now
      </button>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="item swiper-slide">
          <img
            src="./images/Foto_first.jpg"
            alt="meat"
            width="528"
            height="528"
            class="disches"
          />
        </div>
        <div class="item swiper-slide">
          <img
            src="./images/Foto_second.jpg"
            alt="salat"
            width="528"
            height="528"
          />
        </div>
        <div class="item swiper-slide">
          <img
            src="./images/Foto_third.jpg"
            alt="eggs"
            width="528"
            height="528"
          />
        </div>
      </div>
      <!-- ====================SWIPER================ -->
      <!-- нумерация -->
      <!--<div class="swiper-pagination"></div>-->

      <!-- Стрелочки   -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- Скрол бар -->
      <!--<div class="swiper-scrollbar"></div>-->
    </div>
  </div>
</section>
<!-- ======================hero2=KSENIIA================= -->
<section>
  <div class="container lower-cont">
    <div class="lower-cont-l">
      <div class="apple-cont">
        <img class="apple-img" src="./images/apple.jpg" alt="apple" />
        <img class="apple-shadow" src="./images/Ellipse 4.png" alt="shadow" />
      </div>
    </div>
    <div class="lower-cont-r">
      <div class="special-upper-part">
        <h2 class="hero-subhead">Whats Special About Our Offerings</h2>
        <p class="descrip">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="hero-special-list list">
        <li class="hero-special-item">
          <a href="" class="special-item-link">
            <svg class="delivery-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-Icon-Deliv"></use>
            </svg>
          </a>
          <h3 class="hero-sub-descrip">Fasest Delivery</h3>
          <p class="special-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="hero-special-item">
          <a href="" class="special-item-link">
            <svg class="order-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-Icon-Order"></use>
            </svg>
          </a>
          <h3 class="hero-sub-descrip">Easy To Order</h3>
          <p class="special-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button data-second-modal-open type="button" class="hero-modal-btn">
        Order Now
      </button>
    </div>
  </div>
</section>
<section class="section-menu">
  <div class="container">
    <h1 class="titel-menu">Some of Our Favorites</h1>
    <h2 class="description-menu">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h2>
    <ul class="list menu-list">
      <li class="item">
        <div class="menu-box">
          <img
            src="./images/gamburger.jpg"
            alt="gamburger"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="item">
        <div class="menu-box">
          <img src="./images/pasta.jpg" alt="pasta" width="315" height="315" />
        </div>
      </li>
      <li class="item">
        <div class="menu-box">
          <img
            src="./images/pizza.jpg"
            alt="gamburger"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="item">
        <div class="menu-box">
          <img
            src="./images/chicken.jpg"
            alt="chicken"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="item">
        <div class="menu-box">
          <img src="./images/salat.jpg" alt="salat" width="315" height="315" />
        </div>
      </li>
      <li class="item">
        <div class="menu-box">
          <img
            src="./images/borshch.jpg"
            alt="borshch"
            width="315"
            height="315"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- =======================MODAL WINDOW=============== -->
<div data-modal data-second-modal class="backdrop-modal is-hidden">
  <div class="modal">
    <form
      form-modal
      class="form-subscribe"
      name="subscribe"
      autocomplete="on"
      novalidate
    >
      <h1 class="form-title">Order Form</h1>

      <label class="label-name">
        <span class="form-title">Name</span>
        <input
          type="email"
          name="name"
          class="input-type"
          placeholder="Your name"
        />
      </label>
      <label class="label-name">
        <span class="form-title">Phone number</span>
        <input
          type="email"
          name="phone"
          class="input-type"
          placeholder="+38(0__)___ __ __"
        />
      </label>
      <label class="label-name">
        <span class="form-title">E-mail</span>
        <input
          type="phone"
          name="email"
          class="input-type"
          placeholder="example@gmail.com"
        />
      </label>
      <button type="submit" class="btn btn-send">Send</button>

      <button data-modal-close data-second-modal-close class="btn-close btn">
        <svg width="10" height="10">
          <use href="../images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="../js/slider.js"></script>
<script src="../js/modal.js"></script>
