<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <section class="section-menu">
      <div class="container">
        <h1 class="titel-menu">Some of Our Favorites</h1>
        <h2 class="description-menu">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>
        <ul class="list menu-list">
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/gamburger.jpg"
                alt="gamburger"
                width="315"
                height="315"
              />
            </div>
          </li>
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/pasta.jpg"
                alt="pasta"
                width="315"
                height="315"
              />
            </div>
          </li>
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/pizza.jpg"
                alt="gamburger"
                width="315"
                height="315"
              />
            </div>
          </li>
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/chicken.jpg"
                alt="chicken"
                width="315"
                height="315"
              />
            </div>
          </li>
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/salat.jpg"
                alt="salat"
                width="315"
                height="315"
              />
            </div>
          </li>
          <li class="item">
            <div class="menu-box">
              <img
                src="./images/borshch.jpg"
                alt="borshch"
                width="315"
                height="315"
              />
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
